p {
	font-size: 1rem;
	line-height: normal;
	font-weight: 200;
	font-optical-sizing: auto;
	font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1 {
	font-size: 18rem;
	font-weight: 600;
	font-variation-settings: "wdth" 100;
	text-transform: uppercase;
	font-style: normal;
	margin: 0 0 0 -26px;
	letter-spacing: -0.5rem;
	line-height: 1;
	padding: 0;
}

h2 {
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
}

h2, h3 {
	margin: 1rem 0;
}

h4 {
	font-size: 0.9rem;
	font-weight: 300;
	letter-spacing: -0.03rem;

}

strong {
	font-weight: 600;
}