:root {
    --color-black: rgb(0, 0, 0);
    --color-grey: rgb(187, 187, 187);
    --color-white: rgb(243, 243, 243);

    --font-body: "Kode Mono", monospace;
    --font-heading: "Open Sans", sans-serif;
}
