.footer {
    grid-area: footer;
    align-items: end;
    padding-bottom: 3rem;

    & h2 {
        text-transform: uppercase;
    }
}

.services {
    grid-column: 1 / 6;
}

.contact {
    grid-column: 6 / 9;
}

.copyright {
    grid-column: 10 / -1;
    justify-self: end;

    & p {
        font-size: 0.8rem;
    }
}

