.footer {
    width: 100%;
    height: var(--footer-height);
    background-color: var(--color-black);
    color: var(--color-white);

    & a {
        color: var(--color-white);
    
    }
}

.services {
    grid-column: 1 / 6;
}

.contact {
    grid-column: 6 / -1;
}

