.accordion {
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--color-black);
    margin: 0 0 1rem;
    padding: 0 0 1rem 0;
    max-height: 4rem;
    overflow: hidden;
    transition: max-height 800ms ease-out;

    & h2 {
        cursor: pointer;
        text-transform: uppercase;
        display: inline-block;
        margin: 0;
    }

    & article {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        padding-bottom: 3rem;

        & p {
            max-width: 30rem;
        }
    }

    & summary {
        list-style: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    & summary::-webkit-details-marker {
        display: none;
    }

    & summary::marker {
        display: none;
    }
    
    & input {
        display: none; 
    }
    
    & label {
        position: relative;
        display: flex;
        align-items: center;
        height: 4rem;
        font-weight: 600;
    }
    
    & label:hover {
        cursor: pointer;
    }
    
    & label::before {
        content: '+';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.5rem;
        line-height: 1;
    }

    & input:checked + label:before {
        content: '-';
    }
}

.accordion & input:checked + .accordion, .accordion:has(input:checked) {
    max-height: 300rem;
}

.link {
    display: block;
    cursor: url('/cursor.svg') 40 40, auto;
    align-self: flex-end;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 800;
}

.image {
    display: block;
    background-color: rgb(255, 102, 102);
    width: 100%;
    height: 20rem;

    @media (min-width: 768px) {
        height: 60rem;
    }
}